{% if include.video_key %}
  {% assign video = site.data.videos[include.video_key] %}
{% else %}
  {% assign video = site.data.videos[page.video_key] %}
{% endif %}

{% if video %}
<div class="video-page">
  {% if video.takeaways.size > 0 %}
  <h3>What you'll learn</h3>
  <ul>
    {% for item in video.takeaways %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if video.youtube_id and video.youtube_id != "TODO" %}
  <div class="video-embed" style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;margin:1rem 0;">
    <iframe
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      src="https://www.youtube.com/embed/{{ video.youtube_id }}"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
  {% else %}
  <div class="todo-placeholder">TODO: Video embed will go here once youtube_id is populated in _data/videos.yml.</div>
  {% endif %}

  {% if video.duration and video.duration != "TODO" %}
  <p><strong>Duration:</strong> {{ video.duration }}</p>
  {% endif %}

  {% if video.description and video.description != "TODO" %}
  <p>{{ video.description }}</p>
  {% endif %}

  {% if video.substack_url and video.substack_url != "TODO" %}
  <p><a href="{{ video.substack_url }}">Read the companion Substack post</a></p>
  {% endif %}

  {% if video.resources.size > 0 %}
  <h3>Resources</h3>
  <ul>
    {% for resource in video.resources %}
    <li><a href="{{ resource.url }}">{{ resource.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% include pipeline_nav.html %}
</div>

{% if page.video_key %}
<div id="track-data" style="display:none" data-tracks="{{ site.data.tracks | jsonify | escape }}" data-baseurl="{{ "" | relative_url }}"></div>
<script>{% raw %}
;(function(){
  var el=document.getElementById("track-data");
  if(!el)return;
  var defined_tracks=JSON.parse(el.getAttribute("data-tracks"));
  var params=new URLSearchParams(window.location.search);
  var trackKey=params.get("track");
  if(!trackKey||!defined_tracks[trackKey])return;
  var track=defined_tracks[trackKey];
  var baseUrl=el.getAttribute("data-baseurl");
  function normPath(p){return p.replace(/\.html$/,"").replace(/\/$/,"")};
  var currentPath=normPath(window.location.pathname);
  var internalItems=track.path.filter(function(s){return !s.external});
  var idx=-1;
  for(var i=0;i<internalItems.length;i++){
    var itemPath=normPath(baseUrl+internalItems[i].url);
    if(itemPath===currentPath){idx=i;break}
  };
  if(idx<0)return;
  var pnav=document.querySelector(".pipeline-nav");
  if(pnav)pnav.style.display="none";
  var banner=document.createElement("div");
  banner.className="track-banner";
  var backLink="<a class=\"track-banner-back\" href=\""+baseUrl+track.url+"\">&larr; Back to "+track.title+"</a>";
  var nextPart="";
  if(idx<internalItems.length-1){
    var next=internalItems[idx+1];
    nextPart="<a class=\"track-banner-forward\" href=\""+baseUrl+next.url+"?track="+trackKey+"\">Next in this track: "+next.title+" &rarr;</a>";
  }else if(track.next_track&&defined_tracks[track.next_track]){
    var grad=defined_tracks[track.next_track];
    nextPart="<a class=\"track-banner-forward\" href=\""+baseUrl+grad.url+"\">You’ve got everything here! Ready to become a "+grad.title+" &rarr;</a>";
  };
  banner.innerHTML=backLink+(nextPart?nextPart:"");
  var section=document.querySelector("section");
  var h1=section?section.querySelector("h1"):null;
  if(h1&&h1.nextSibling){h1.parentNode.insertBefore(banner,h1.nextSibling)}
  else if(section){section.insertBefore(banner,section.firstChild)}
})();
{% endraw %}</script>
{% endif %}

{% else %}
<div class="todo-placeholder">TODO: No video data found for key "{{ page.video_key }}". Check _data/videos.yml.</div>
{% endif %}
